
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
<main class="contenedor">
<h1>TU CARRITO</h1>
<section class="contenedorCarrito">
<% for(let i = 0; i < productData.length; i++){ %>
    <article class="productoCarrito">
        <div class="imagenCarrito">
            <img src="../images/productsImages/<%= productData[i].product.imagen%>" alt="">
        </div>
        <div class="informacionProducto">
            <p><%= productData[i].product.nombre_producto%></p>
            <p>CANTIDAD:</p>
            <div>
                <button class="claseButton" id="botonRestar">-</button>
                        
                <input id="inputCantidad" type="number" value="<%=productData[i].cantidad %>" class="cantidadAgregaCarrito" name="product_quantity">
                
                <button class="claseButton" id="botonSumar">+</button>
            </div>
            <p>PRECIO: $<%= productData[i].product.precio%></p>
            <p>TOTAL: CALCULO JS</p>
            </div>  
    </article>
<% } %>
</section>


    <div class="pagoTotal">
        <h2>TOTAL: AGREGAR JS</h2>
    </div>

    <div class="carritoBotones">
        <button class="claseButton">CONTINUAR COMPRANDO</button>
        <button class="claseButton">FINALIZAR COMPRA</button>
    </div>

</main>

<%- include('../partials/footer.ejs'); %>
