
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
<main class="contenedor">
<h1>TU CARRITO</h1>
<section class="contenedorCarrito">
<% if(typeof cartData !== "undefined"){ %>
<% for(let i = 0; i < cartData.products.length; i++){ %>
    <article class="productoCarrito">
        <input type="hidden" id="product_id" name="product_id" value="<%= cartData.products[i].id%>">
        <div class="imagenCarrito">
            <img src="../images/productsImages/<%= cartData.products[i].imagen%>" alt="">
        </div>
        <div class="informacionProducto">
            <p><%= cartData.products[i].nombre_producto%></p>
            <p>CANTIDAD:</p>
            <div>
                <button class="claseButton botonResta">-</button>
                        
                <input id="inputCantidad" class="inputCantidad" type="number" value="<%=cartData.products[i].CartProduct.cantidad %>" class="cantidadAgregaCarrito" name="product_quantity">
                
                <button class="claseButton botonSuma">+</button>
            </div>
            <p>Precio $</p>
            <p class="pPrecio"><%= cartData.products[i].precio%></p>
            <p>Subtotal</p>
            <p class="pSubtotal"><%=cartData.products[i].CartProduct.cantidad * cartData.products[i].precio%></p>
            <buttom class="botonQuitarProducto">x</buttom> 
        </div>  
       
    </article>
<% } %>
</section>
    <div id="totalCarrito"></div>

    <div class="carritoBotones">
        <button class="claseButton" id="botonContinuarCompra">CONTINUAR COMPRANDO</button>
        <button class="claseButton" id="botonFinalizarCompra">FINALIZAR COMPRA</button>
    </div>
    <% } else {%>
        <p>Todavia no agregaste ningun producto, ¡visitá nuestra <a href="/productos/listadoProductos"><strong>tienda</strong></a>!</p>
    <% } %>
</main>

<script src="/js/cart.js"></script>

<%- include('../partials/footer.ejs'); %>
