
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
<main class="contenedor">

    <div id="Modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Se ha eliminado el producto de forma exitosa</p>
        </div>
      
      </div>
<div id="headCarrito">
    <img src="/images/banda-prod.png">
    <h1>Carrito de Compras</h1>
    <img src="/images/banda-prod.png">
</div>    

<section class="contenedorCarrito">
<% if(typeof cartData !== "undefined"){ %>
<% for(let i = 0; i < cartData.products.length; i++){ %>
    <article class="productoCarrito">
        <input type="hidden" id="product_id" name="product_id" value="<%= cartData.products[i].id%>">
        <div class="imagenCarrito">
            <img src="../images/productsImages/<%= cartData.products[i].imagen%>" alt="">
        </div>
        <div class="informacionProducto">
            <p><%= cartData.products[i].nombre_producto%></p>
            <p id="textCantidad">Cantidad:</p>
            <div id="sumaRestaCarritoCompra">
                <button class="claseButton botonResta">-</button>
                        
                <input id="inputCantidad" class="inputCantidad" type="number" value="<%=cartData.products[i].CartProduct.cantidad %>" class="cantidadAgregaCarrito" name="product_quantity">
                
                <button class="claseButton botonSuma">+</button>
            </div>
            
            <div id="precioProductoCarrito">
                <p>Precio $</p>
                <p class="pPrecio"><%= cartData.products[i].precio%></p>
            </div>

            <div id="precioSubtotalCarrito">
                <p>Subtotal $</p>
                <p class="pSubtotal"><%=cartData.products[i].CartProduct.cantidad * cartData.products[i].precio%></p>
            </div>

            <buttom class="botonQuitarProducto">x</buttom> 
            <buttom class="claseButton botonQuitarProducto1">Quitar Producto</buttom> 

        </div>  
       
    </article>
<% } %>
</section>
    <div id="totalCarrito"></div>

    <div class="carritoBotones">
        <button class="claseButton" id="botonContinuarCompra">Continuar Comprando</button>
        <button class="claseButton" id="botonFinalizarCompra">Finalizar Compra</button>
    </div>
    <% } else {%>
        <p>Todavia no agregaste ningun producto, ¡visitá nuestra <a href="/productos/listadoProductos"><strong>tienda</strong></a>!</p>
    <% } %>
</main>

<script src="/js/cart.js"></script>

<%- include('../partials/footer.ejs'); %>
