<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<main class="contenedor">
    <% if(typeof categoria == "undefined"){%>
        <section id="contenedorRegister">
            <form style="text-align: center;" action="/productos/crearCategoria" method="POST">
                <h1>Crear categoria</h1>
                <p>Categoria</p> 
                <input type="text" name="categoria">
                <p><button class="claseButton"type="submit">CREAR</button></p>
            </form>
        </section>
        
        <%}else{%>
    <section id="contenedorRegister">
        
        <form action="/productos/editarCategoria/<%= categoria.id %>" method="POST" class="contenedorForm">
            <h1>Editar categoria</h1>
            <p>Categoria</p>
            <input type="text" name="categoria" value="<%= categoria.nombre_categoria%>">
            <p><button class="claseButton" type="submit">EDITAR</button></p>
        </form>
    </section>
    <%}%>
    <button class="claseButton"><a href="/productos/listadoCategorias">Cancelar</a></button>
</main>
<%- include('../partials/footer.ejs'); %>