<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<main class="contenedorForm">
    <% if(typeof categoria == "undefined"){%>

        <h1>Crear categoria</h1>

            <form action="/productos/crearCategoria" method="POST">
                <input type="text" name="categoria" placeholder="Nombre">
                <button class="claseButton"type="submit">Crear</button>
                <button class="claseButton botonConLink"><a href="/productos/listadoCategorias">Cancelar</a></button>
            </form>

        
        <%}else{%>

        <h1>Editar categoria</h1>
        <form action="/productos/editarCategoria/<%= categoria.id %>" method="POST" class="contenedorForm">
            <input type="text" name="categoria" placeholder="Nombre" value="<%= categoria.nombre_categoria%>">
            <button class="claseButton" type="submit">Editar</button>
            <button class="claseButton botonConLink"><a href="/productos/listadoCategorias">Cancelar</a></button>
        </form>

    <%}%>
</main>
<%- include('../partials/footer.ejs'); %>