<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<div id="contenedorProductCreateEdit">
    <h1>Editar Producto</h1>

    <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
    
<form action="/products/productoEditar/<%= product.id %>" method="POST" enctype="multipart/form-data">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto" value="<%= product.nombre_producto %>">
               
    <input type="number" name ="precioProducto" id="precio" placeholder="Precio" value="<%= product.precio %>">

    <select name="estado" id="estado">
        <option value="Estado" >Estado</option>
        
        <% if(product.estado_producto=="activo"){%>
            <option value="Activo" selected >Activo</option>
            <option value="Inactivo">Inactivo</option>
        <%}else{%>
            <option value="Activo">Activo</option>
            <option value="Inactivo" selected >Inactivo</option>
        <%}%>
   
        
    </select>

    <select name="categoria" id="categoria"> 
        <% if(product.categoria=="default"){%>
            <option value="default" selected>Categoria</option>
            <option value="Dulces Caseros">Dulces Caseros</option>
            <option value="Merienda">Merienda</option>
            <option value="Artesanias">Artesanias</option>
        <%}else if(product.categoria=="Dulces Caseros"){%>
            <option value="default" >Categoria</option>
            <option value="Dulces Caseros" selected>Dulces Caseros</option>
            <option value="Merienda">Merienda</option>
            <option value="Artesanias">Artesanias</option>
        <%}else if(product.categoria=="Merienda"){%>
            <option value="default" >Categoria</option>
            <option value="Dulces Caseros">Dulces Caseros</option>
            <option value="Merienda" selected>Merienda</option>
            <option value="Artesanias">Artesanias</option>
        <%}else if(product.categoria=="Artesanias"){%>
            <option value="default" >Categoria</option>
            <option value="Dulces Caseros" >Dulces Caseros</option>
            <option value="Merienda" >Merienda</option>
            <option value="Artesanias" selected>Artesanias</option>
        
        <%}%>

    </select>

    <textarea rows="2" name="descripcionCorta" id="descripcionCorta" placeholder="Descripción Corta"><%= product.descripcion_corta %></textarea>
            <span></span>
            <textarea rows="14" name="descripcionLarga" id="descripcionLarga" placeholder="Descripción Larga"><%= product.descripcion_larga %></textarea>
            <span></span>

            <input type="file" name="imagenProducto" id="imagenProducto" placeholder="Subir Imágenes">
            <div id="imagenesCargadas">
                <img src="/images/productsImages/<%= product.imagen %>">
               
            </div> 

    <button class="claseButton" type="submit">Guardar Cambios</button>
</form>

</div>

<%- include('../partials/footer.ejs'); %>