<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<div class="contenedorForm">
    <h1>Editar Producto</h1>

    <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
    
<form method="POST" enctype="multipart/form-data" action="/productos/productoEditar/<%_ if(typeof data != "undefined"){_%><%=data.id%><%_}else{_%><%=product.id%><%_}_%>">
    
    <div>
    <input type="text" name="nombre"  placeholder="Nombre Producto" 
    <%_ if(typeof data != "undefined"){ _%>value="<%=data.nombre%>"<%_ }else{_%>value="<%=product.nombre_producto%>"<%_}_%>
    >
                
    <input type="number" name ="precioProducto"  placeholder="Precio" 
    <% if(typeof data != "undefined"){%>value="<%=data.precioProducto%>"<% } else{%>value="<%=product.precio%>"><% }%>>
    </div>

    <h2>Categorias: </h2>

    <div class="categoriasProducto">
    <% for(let i = 0; i < categories.length; i++) {%>
        <div>
        <span><%=categories[i].nombre_categoria%></span>
        <input type="checkbox" name="category" value="<%= categories[i].id%>" 
        <% if(typeof data != "undefined"){ %>
            <% if(Array.isArray(data.category)){%>
                <% for(let j = 0; j < data.category.length; j++){%>
                    <%  if(data.category[j] == categories[i].id){%>
                            checked
                    <%}%>
                <%}%>
            <%} else { %>
                <%  if(data.category == categories[i].id){%>
                        checked
                <%}%>
            <%}%>
        <%} else{%>
        <% for(let j = 0; j < product.categories.length; j++){%>
            <%  if(product.categories[j].id === categories[i].id){%>
                checked
            <%}%>
            <%}%>
        <%}%>>
        
        </div>
    <%}%>
    </div>
    <h2>Productor: </h2>
    <select name="productor">
    <% for(let i = 0; i < producers.length; i++) {%>
    <option value="<%=producers[i].id%>" 
    <% if(typeof data != "undefined"){ %>
        <%if(data.productor == producers[i].id){%>
            selected
        <%}%>
    <%}else {%>
    <% if(producers[i].nombre_productor == product.producers.nombre_productor){ %>
        selected
    <% } %>
    <%}%>>
    <%=producers[i].nombre_emprendimiento%></option>
    <%}%>>
    </select>



    
    <div>
        <textarea rows="5" cols="30" name="descripcionCorta" id="descripcionCorta" placeholder="Descripción Corta"><%_if(typeof data != "undefined"){_%><%=data.descripcionCorta%><%_}else{_%><%=product.descripcion_corta%><%_}_%></textarea>
        <textarea rows="10" cols="30" name="descripcionLarga" id="descripcionLarga" placeholder="Descripción Larga"><%_ if(typeof data != "undefined"){_%><%=data.descripcionLarga%><%_}else{_%><%=product.descripcion_larga%><%_}_%></textarea>
    </div>

    <label class="uploadImage">
        <i class="fa fa-cloud-upload"></i><span>Subir imagen</span>
        <input type="file" name="imagenProducto" id="imagenProducto" placeholder="Subir Imágenes">
    </label>
    <div id="imagenesCargadas">
        <img src="/images/productsImages/<%_if(typeof data != "undefined"){_%><%=data.imagen%><%_}else{_%><%=product.imagen%><%_}_%>">
    </div> 

        <button class="claseButton" type="submit">Guardar Cambios</button>
        <button class="claseButton"><a href="/productos/listadoProductosAdmin">Cancelar</a></button>

</form>

</div>

<%- include('../partials/footer.ejs'); %>