
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

    <div class="contenedorListado">
        <div class="categoriasProductos">

        
        <div class="contenedorImagen">
            <img src="./images/banner-sin-texto.jpg" alt="">
        </div>
    
        <div id="listadoCategorias">
          
        </div>

        <div class="contenedorListadoProductos">
            
            <div class="listadoProductos">
                    <% for(let productData of productsData){%>
                        
                    <div class="productoListado">
                        <img src="../images/productsImages/<%= productData.imagen %>" alt="imagen">
                        <p class="productoNombre"><%= productData.nombre_producto %></p>
                        <p class="productoPrecio"> $<%= productData.precio %></p>
                        <button class="claseButton"><a href="/productos/detalleProducto/<%= productData.id%>">Ver detalle</a></button>
                    </div>
                    <% } %>

            </div>    

        </div>
        
    </div>
            

    </div>
    <script src="/js/productList.js"></script>

    <%- include('../partials/footer.ejs'); %>
  