<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>


    <main id="mainDetalleProducto">
        
        
        <div id="contenedorFlex">
        
            
            <div id="contenedor1"> <!--DIV Imagen y miniaturas-->
                
                <div class="contenedorImagenPrincipalProducto">
                    <h1 class="tituloProducto"><%=productData.nombre_producto%></h1>

                    <img class="imagenPrincipalProducto" src="/images/productsImages/<%= productData.imagen %>">
                
                </div>
                <div id="contenedorCompartirRedes"> <!--DIV compartir en redes -->

                    
                
                    <p class="textoCompartir">Compartir</p>
                
                    <ul id="listaCompartirIconosSociales"> 
                    
                        <li id="iconoCompartirFacebook"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li id="iconoCompartirInstagram"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li id="iconoCompartirTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
                    
                    </ul>
                    

                </div>
                
            </div>    
            
            <div id="contenedor2">
            
                <div id="contenedorTituloDescripcion"> <!--DIV titulo y descripcion-->
                    
                   
                    <p class="descripcionCortaProducto"><%=productData.descripcion_corta%></p>
                
                </div>


                

                <div id="contenedorPrecioCantidadBotones"> <!--DIV Precio Cantidad Botones Condiciones-->
                    
                    <p id="precio">Precio: $ <span id="numeroPrecio"><%=productData.precio%></span></p>    
                
                    <div id="sumaRestaCarrito">

                        
                        <p id="textoCantidadCarrito">Cantidad:</p>
                    
                        <button class="claseButton" id="botonRestar">-</button>
                        
                        <input id="inputCantidad" type="number" value="1" class="cantidadAgregaCarrito" name="product_quantity" form="addCart">
                        
                        <button class="claseButton" id="botonSumar">+</button>



                       <form action="/productos/agregarcarrito" method="POST" id="addCart">

                            <input id="product_id" type="hidden" name="product_id" value="<%=productData.id%>">

                            <button type="submit" id="btnAgregarCarrito" class="claseButton">Agregar al Carrito</button>

                      </form>               
                        
                    </div>
                    
                        <p style="text-align: center" id="precioTotal">Total: $<%=productData.precio%></p>  
                    
                
                    <div id="contenedorBotonContinuarComprando">
                        
            
                        <button class="claseButton">Continuar Comprando</button>
            
                    </div>

                    <p id="condiciones"> Condiciones: Las entregas son los días sábado, sujeto a disponibilidad.</p>
                
                </div>

            </div>

            
        
        </div>
       
        <h3>Descripcion</h3>
        <p class="descripcionLargaProducto"><%=productData.descripcion_larga%></p>


    </main>

    <script src="/js/productDetail.js"></script>

<%- include('../partials/footer.ejs'); %>