
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

    <div class="contenedorListado">
        
        
        

        
        <div class="contenedorImagen">
            <img src="./images/banner-sin-texto.jpg" alt="">
        </div>
    <div class="categoriasProductos">

        <div class="contenedorCategorias">
            <p>Despliegue las categorias</p>
            <div class="categorias">
                <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
            <div class="categorias">
                <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
            <div class="categorias">
                    <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
        </div>

        <div class="contenedorListadoProductos">
                <div class="listadoProductos">
                    <% for( let i=0; i < productsData.length ; i++){%>
                      
                    <div class="productoListado">
                        <img src="../images/productsImages/<%= productsData[i].imagenProducto %>" alt="imagen">
                        <p class="productoNombre"><%= productsData[i].nombre %></p>
                        <p class="productoPrecio"> <%= productsData[i].precioProducto %></p>
                        <button class="claseButton"><a href="">Agregar al carrito</a></button>
                        <button class="claseButton"><a href="">Ver detalle</a></button>
                    </div>
                    <% } %>

                </div>    

                    
                <div class="listadoProductos">
                    

                    </div> 
                        
                    <div class="listadoProductos">
                        

                    </div> 
                </div>
            </div>
            

    </div>

    <%- include('../partials/footer.ejs'); %>
  