<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<div id="contenedorProductCreateEdit">
    <h1>Nuevo Producto</h1>

    <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
    
        <form action="/productos/productoNuevo" method="POST" enctype="multipart/form-data">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto" 
        <% if(typeof data != "undefined"){ %>
            value="<%= data.nombre %>"
        <% } %>>
                   
        <input type="number" name ="precioProducto" id="precio" placeholder="Precio" 
        <% if(typeof data != "undefined"){ %>
            value="<%= data.precioProducto %>"
        <% } %>>

            <% for(let i = 0; i < categories.length; i++) {%>
                <input type="checkbox" name="category" value="<%= categories[i].id%>"%>
                <% if(typeof data != "undefined"){ %>
                    <% if(Array.isArray(data.category)){%>
                        <% for(let j = 0; j < data.category.length; j++){%>
                            <%  if(data.category[j] == categories[i].id){%>
                                    checked
                            <%}%>
                        <%}%>
                    <%} else { %>
                        <%  if(data.category == categories[i].id){%>
                                checked
                        <%}%>
                    <%}%>
                <%}%>>
                <label><%= categories[i].nombre_categoria%></label>
            <%}%>

            <select name="productor">
            <% for(let i = 0; i < producers.length; i++) {%>
            <option value="<%= producers[i].id%>" 
                <% if(typeof data != "undefined"){ %>
                    <%if(data.productor == producers[i].id){%>
                        selected
                    <%}%>
                <%}%>>
                <%= producers[i].nombre_productor %>
            </option>
            <%}%>
            </select>

            <textarea rows="2" name="descripcionCorta" id="descripcionCorta" placeholder="Descripción Corta"><% if(typeof data != "undefined"){ %>
                <%= data.descripcionCorta %>
                <% } %></textarea>
            <span></span>
            <textarea rows="14" name="descripcionLarga" id="descripcionLarga" placeholder="Descripción Larga"><% if(typeof data != "undefined"){ %><%= data.descripcionLarga %><% } %></textarea>
            <span></span>

                <input type="file" name="imagenProducto" id="imagenProducto" placeholder="Subir Imágenes">
    
        <button class="claseButton" type="submit">Guardar Cambios</button>
    </form>
    
    <button class="claseButton"><a href="/productos/listadoProductosAdmin">Cancelar</a></button>

    </div>

    <%- include('../partials/footer.ejs'); %>