<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<main>

    <h1 style="text-align: center;"">LISTADO PRODUCTOS</h1>
    <div id="menuAdmin">
    <BUTton class="claseButton"><a href="/admin/menu">MENU ADMIN</a></BUTton>
    <button class="claseButton"><a href="/productos/productoNuevo">NUEVO PRODUCTO</a></button>
    </div>
    <table>
        <section>
        
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th colspan="2">MODIFICAR</th>
            </tr>
        </thead>
        <article>
            <tbody>    
                
                    <% if(typeof product[0] == "undefined"){%>
                    <tr>
                        <td colspan="3"><p>No se han encontrado productos</p> </td>
                    </tr>
                    <%}else{%>
                    <% for(let i = 0; i < product.length; i++){ %>
                    <tr>
                        <td><p><%= product[i].id %></p></td>
                        <td><p><%= product[i].nombre_producto %></p></td>
                        <td><button class="claseButton"><a href="/productos/productoEditar/<%= product[i].id %>">EDITAR</a></button></td>
                        <td><button class="claseButton"><a href="/productos/productDelete/<%= product[i].id %>">BORRAR</a></button></td>
                    </tr>
                    <% }%>
                    <%}%>
                
            </tbody>
        </article>
        
    </section>
    </table>
    </main>

    <%- include('../partials/footer.ejs'); %>

