<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<div id="contenedorProductCreateEdit">
    <h1>Editar Producto</h1>

    <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
    
<form method="POST" enctype="multipart/form-data" action="/productos/productoEditar/<%_ if(typeof data != "undefined"){_%><%=data.id%><%_}else{_%><%=product.id%><%_}_%>">
    

    <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto" 
    <%_ if(typeof data != "undefined"){ _%>value="<%=data.nombre%>"<%_ }else{_%>value="<%=product.nombre_producto%>"<%_}_%>
    >
                
    <input type="number" name ="precioProducto" id="precio" placeholder="Precio" 
    <% if(typeof data != "undefined"){%>value="<%=data.precioProducto%>"<% } else{%>value="<%=product.precio%>"><% }%>>
    
    <% for(let i = 0; i < categories.length; i++) {%>
        <input type="checkbox" name="category" value="<%= categories[i].id%>" 
        <% if(typeof data != "undefined"){ %>
            <% if(Array.isArray(data.category)){%>
                <% for(let j = 0; j < data.category.length; j++){%>
                    <%  if(data.category[j] == categories[i].id){%>
                            checked
                    <%}%>
                <%}%>
            <%} else { %>
                <%  if(data.category == categories[i].id){%>
                        checked
                <%}%>
            <%}%>
        <%} else{%>
        <% for(let j = 0; j < product.categories.length; j++){%>
            <%  if(product.categories[j].id === categories[i].id){%>
                checked
            <%}%>
            <%}%>
        <%}%>>
        <%=categories[i].nombre_categoria%>
    <%}%>

    <select name="productor">
    <% for(let i = 0; i < producers.length; i++) {%>
    <option value="<%=producers[i].id%>" 
    <% if(typeof data != "undefined"){ %>
        <%if(data.productor == producers[i].id){%>
            selected
        <%}%>
    <%}else {%>
    <% if(producers[i].nombre_productor == product.producers.nombre_productor){ %>
        selected
    <% } %>
    <%}%>>
    <%=producers[i].nombre_productor%></option>
    <%}%>>
    </select>



    

    <textarea rows="2" name="descripcionCorta" id="descripcionCorta" placeholder="Descripción Corta">
        <%_if(typeof data != "undefined"){_%><%=data.descripcionCorta%><%_}else{_%><%=product.descripcion_corta%><%_}_%>
    </textarea>
    <span></span>
    <textarea rows="14" name="descripcionLarga" id="descripcionLarga" placeholder="Descripción Larga"><%_ if(typeof data != "undefined"){_%><%=data.descripcionLarga%><%_}else{_%><%=product.descripcion_larga%><%_}_%></textarea>
    <span></span>

    <input type="file" name="imagenProducto" id="imagenProducto" placeholder="Subir Imágenes">
    <div id="imagenesCargadas">
        <img src="/images/productsImages/<%_if(typeof data != "undefined"){_%><%=data.imagen%><%_}else{_%><%=product.imagen%><%_}_%>">
    </div> 

        <button class="claseButton" type="submit">Guardar Cambios</button>
</form>

</div>

<%- include('../partials/footer.ejs'); %>