
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
        <div class="contenedorForm">
        <h1>Editar Productor</h1>
        
        <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
        
        
        <form method="POST" enctype="multipart/form-data" action="/productores/editar/<%_ if(typeof data != "undefined"){_%><%=data.id%><%_}else{_%><%=producer.id%><%_}_%>">
            
                      
            <input type="text" name="apellido" id="apellido" placeholder="Apellido" <%_ if(typeof data != "undefined"){ _%>value="<%=data.apellido%>"<%_ }else{_%>value="<%=producer.apellido_productor%>"<%_}_%>
            >
                   
            <input type="text" name="nombreProductor" id="nombre" placeholder="Nombre" <%_ if(typeof data != "undefined"){ _%>value="<%=data.nombreProductor%>"<%_ }else{_%>value="<%=producer.nombre_productor%>"<%_}_%>
            >

           
            <input type="email" name="email" id="emailRegister" placeholder="Email" <%_ if(typeof data != "undefined"){ _%>value="<%=data.email%>"<%_ }else{_%>value="<%=producer.email_productor%>"<%_}_%>
            >
           

            <input type="tel" name="telefono" placeholder="Telefono" <%_ if(typeof data != "undefined"){ _%>value="<%=data.telefono%>"<%_ }else{_%>value="<%=producer.telefono_productor%>"<%_}_%>
            >

            
            <input type="text" name="domicilio" placeholder="Domicilio" <%_ if(typeof data != "undefined"){ _%>value="<%=data.domicilio%>"<%_ }else{_%>value="<%=producer.domicilio_productor%>"<%_}_%>
            >

            
            <input type="text" name="nombreEmprendimiento" placeholder="Nombre emprendimiento" <%_ if(typeof data != "undefined"){ _%>value="<%=data.nombreEmprendimiento%>"<%_ }else{_%>value="<%=producer.nombre_emprendimiento%>"<%_}_%>
            >
            <textarea cols="40" rows="5" name="descripcion" placeholder="Descripcion emprendimiento"><%_ if(typeof data != "undefined"){ _%><%=data.descripcion%><%_ }else{_%><%=producer.descripcion_productor%><%_}_%></textarea>


            <label class="uploadImage">
                <i class="fa fa-cloud-upload"></i><span>Subir imagen</span>
                <input type="file" name="logotipo" placeholder="Subir Imágenes">
            </label>
            <% if(typeof producer !== "undefined"){%>
                <% if(producer.logotipo != null){%>
                <img class="thumbnailImage" src="/images/producersLogos/<%= producer.logotipo %>">
            <%}%>
            <%}%>

            <button class="claseButton" type="submit">Confirmar Cambios</button>
            <button class="claseButton botonConLink"><a href="/productores/listado">Cancelar</a></button>
        </form>
    </div>
    <%- include('../partials/footer.ejs'); %>