<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<main>
    <h1 style="text-align: center;">LISTADO PRODUCTORES</h1>
    <div id="menuAdmin">
        <button class="claseButton"><a href="/admin/menuAdmin">MENU ADMIN</a></button>
        <button class="claseButton"><a href="/productores/registro">NUEVO PRODUCTOR</a></button>
    </div>
    
<table>
        <section>
        <thead>
            <tr>
                <th>ID</th>
                <th>Productor</th>
                <th colspan="2">Modificar</th>
            </tr>
        </thead>
        <article>
            <tbody>    
                
                    <% if(typeof producer[0] == "undefined"){%>
                    <tr>
                        <td colspan="3"><p>No se han encontrado productores</p> </td>
                    </tr>
                    <%}else{%>
                    <% for(let i = 0; i < producer.length; i++){ %>
                    <tr>
                        <td><p><%= producer[i].id %></p></td>
                        <td><p><%= producer[i].nombre_productor %></p></td>
                        <td><button class="claseButton"><a href="/productores/editar/<%= producer[i].id %>">Editar</a></button></td>
                        <td><button class="claseButton"><a href="/productores/eliminar/<%= producer[i].id %>">Eliminar</a></button></td>
                    </tr>
                    <% }%>
                    <%}%>
                
            </tbody>
        </article>
        
     </section>
    </table>
    </main>


    <%- include('../partials/footer.ejs'); %>
