
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
        <div id="contenedorRegister">
        <h1>Registro de nuevo Productor</h1>
        
        <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
        
        
        <form action="/productores/registro" method="POST" enctype="multipart/form-data">
           
            <p>Apellido</p>
           
            <input type="text" name="apellido" id="apellido" <% if(typeof data != "undefined"){ %>
                value="<%= data.apellido %>"
            <% } %>>
        

            <p>Nombre</p>
           
            <input type="text" name="nombreProductor" id="nombre" <% if(typeof data != "undefined"){ %>
                value="<%= data.nombre %>"
            <% } %>>

            <p>Email</p>
           
            <input type="email" name="email" id="emailRegister" <% if(typeof data != "undefined"){ %>
                value="<%= data.email %>"
            <% } %>>
           
            <p>Telefono</p>

            <input type="tel" name="telefono" <% if(typeof data != "undefined"){ %>
                value="<%= data.telefono %>"
            <% } %>>

            <p>Domicilio</p>
            
            <input type="text" name="domicilio" <% if(typeof data != "undefined"){ %>
                value="<%= data.domicilio %>"
            <% } %>>

            <p>Nombre Emprendimiento</p>
            
            <input type="text" name="nombreEmprendimiento" <% if(typeof data != "undefined"){ %>
                value="<%= data.nombreEmprendimiento %>"
            <% } %>>

            <p>Descripción Emprendimiento</p>
            
            <input type="text" name="descripcion" <% if(typeof data != "undefined"){ %>
                value="<%= data.nombreEmprendimiento %>"
            <% } %>>

            <p>Logotipo</p>

            <input type="file" name="logotipo">

            <button class="claseButton" type="submit">Registrar Productor</button>

        </form>

        
    </div>
    <%- include('../partials/footer.ejs'); %>