
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
        <div class="contenedorForm">
        <h1>Registro de nuevo Productor</h1>
        
        <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
        
        
        <form action="/productores/registro" method="POST" enctype="multipart/form-data">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido"<% if(typeof data != "undefined"){ %>
                    value="<%= data.apellido %>"
                <% } %>>
                    
                <input type="text" name="nombreProductor" id="nombre" placeholder="Nombre"<% if(typeof data != "undefined"){ %>
                    value="<%= data.nombre %>"
                <% } %>>
           
            <input type="email" name="email" id="emailRegister" placeholder="Email"<% if(typeof data != "undefined"){ %>
                value="<%= data.email %>"
            <% } %>>
           
            <input type="tel" name="telefono" placeholder="Telefono"<% if(typeof data != "undefined"){ %>
                value="<%= data.telefono %>"
            <% } %>>
            <input type="text" name="domicilio" placeholder="Domicilio"<% if(typeof data != "undefined"){ %>
                value="<%= data.domicilio %>"
            <% } %>>
            
            <input type="text" name="nombreEmprendimiento" placeholder="Nombre emprendimiento"<% if(typeof data != "undefined"){ %>
                value="<%= data.nombreEmprendimiento %>"
            <% } %>>

            <textarea cols="40" rows="5" name="descripcion" placeholder="Descripcion emprendimiento"><% if(typeof data != "undefined"){ %><%= data.descripcion %><% } %></textarea>

            <label class="uploadImage">
                <i class="fa fa-cloud-upload"></i><span>Subir imagen</span>
                <input type="file" name="logotipo" placeholder="Subir Imágenes">
            </label>

            <button class="claseButton" type="submit">Registrar Productor</button>

        </form>

        <button class="claseButton"><a href="/productores/listado">Cancelar</a></button>
        
    </div>
    <%- include('../partials/footer.ejs'); %>