<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>


    <div id="contenedorLogin">
        <h1>Login</h1>

        <% if(typeof errorMessage != "undefined"){%>
            <div class="errorMessageForm">
                <p><%=errorMessage%></p>
            </div>
        <% } %>
        
        <form action="/usuarios/login" method="POST">
           
            <p>Email</p>
           
            <input type="email" name="email" id="emailLogin" <% if(typeof datos != "undefined"){%> value="<%=datos.email%>" <% } %> >
           
            <p>Contraseña</p>
           
            <input type="password" name="pwd" id="pwdLogin">
           
            <p>Recordarme en esta pc</p>
            <input type="checkbox" name="rememberMe" id="rememberMe">

            <button class="claseButton">Ingresar</button>

        </form>

        <a href="#">Olvidé mi contraseña</a>
        <a href="/usuarios/registro">Registro nuevo usuario</a>
    </div>

<%- include('../partials/footer.ejs'); %>    