<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>


    <div class="contenedorForm">
        <h1>Login</h1>

        <% if(typeof errorMessage != "undefined"){%>
            <div class="errorMessageForm">
                <p><%=errorMessage%></p>
            </div>
        <% } %>
        
        <form action="/usuarios/login" method="POST">
           
           
            <input type="email" name="email" id="emailLogin" placeholder="Correo Electronico"<% if(typeof datos != "undefined"){%> value="<%=datos.email%>" <% } %> >
                      
            <input type="password" name="pwd" id="pwdLogin" placeholder="Contraseña">
            <div id="divRecordarme">
                <span>Recordarme en esta pc</span>
                <input type="checkbox" name="rememberMe">
            </div>

            <button class="claseButton">Ingresar</button>

        </form>

        <a href="#">Olvidé mi contraseña</a>
        <a href="/usuarios/registro">Registro nuevo usuario</a>
    </div>

<%- include('../partials/footer.ejs'); %>    