
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
        <div id="contenedorRegister">
        <h1>Registro de nuevo Cliente</h1>
        
        <% if(typeof errors != "undefined"){%>
            <div class="errorMessageForm">
            <% errors.forEach(element => {  %>
                <%if(element.msg !== "Invalid value"){ %>
            <p><%=element.msg%></p>
            <%}%>
            <% }) %>
            </div>
            <%}%>
        
        
        <form action="/usuarios/registro" method="POST" enctype="multipart/form-data">
           
            <p>Apellido</p>
           
            <input type="text" name="apellido" id="apellido" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.apellido %>"
            <% } %>>
        

            <p>Nombre</p>
           
            <input type="text" name="nombre" id="nombre" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.nombre %>"
            <% } %>>

            <p>Email</p>
           
            <input type="email" name="email" id="emailRegister" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.email %>"
            <% } %>>
           
            <p>Contraseña</p>
           
            <input type="password" name="pass" id="pwdRegister">

            <p>Repita Contraseña</p>
           
            <input type="password" name="repeatPass" id="repeatPwdRegister">

            <p>Telefono</p>

            <input type="tel" name="telefono" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.telefono %>"
            <% } %>>

            <p>DNI</p>

            <input type="number" name="dni" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.dni %>"
            <% } %>>

            <p>Calle</p>
            
            <input type="text" name="calle" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.calle %>"
            <% } %>>

            <p>Altura</p>

            <input type="text" name="altura" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.altura %>"
            <% } %>>

            <p>Piso</p>

            <input type="text" name="piso" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.piso %>"
            <% } %>>
            
            <p>Departamento</p>

            <input type="text" name="departamento" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.departamento %>"
            <% } %>>

            <p>Barrio</p>

            <input type="text" name="barrio" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.barrio %>"
            <% } %>>

            <p>Localidad</p>

            <input type="text" name="localidad" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.localidad %>"
            <% } %>>

            <p>Provincia</p>

            <input type="text" name="provincia" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.provincia %>"
            <% } %>>

            <p>Pais</p>

            <input type="text" name="pais" <% if(typeof datos != "undefined"){ %>
                value="<%= datos.pais %>"
            <% } %>>

            <p>Avatar</p>

            <input type="file" name="avatar">
            
            <!-- <div>
                
                <label for="aceptoTerminos"><a href="#">Acepto los términos y condiciones </a>   </label>
                <input type="checkbox" name="aceptoTerminos" id="aceptoTerminos">

            </div> -->

            <button class="claseButton" type="submit">Registrarme</button>

        </form>

        <a href="/usuarios/login">Ya tengo usuario y contraseña</a>
        
    </div>
    <%- include('../partials/footer.ejs'); %>