
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
        <div id="contenedorRegister">
        <h1>Mi perfil</h1>
        
        <% if(typeof errors != "undefined"){%>
        <div class="errorMessageForm">
        <% errors.forEach(element => {  %>
            <%if(element.msg !== "Invalid value"){ %>
        <p><%=element.msg%></p>
        <%}%>
        <% }) %>
        </div>
        <%}%>
        
        
        <form method="POST" enctype="multipart/form-data" action="/usuarios/perfil">
            
            <p>Apellido</p>
           
            <input type="text" name="apellido" id="apellido" <%_ if(typeof data != "undefined"){ _%>value="<%=data.apellido%>"<%_ }else{_%>disabled value="<%=user.apellido_usuario%>"<%_}_%>
            >
        

            <p>Nombre</p>
           
            <input type="text" name="nombreUsuario" id="nombreUsuario" <%_ if(typeof data != "undefined"){ _%>value="<%=data.nombreusuario%>"<%_ }else{_%>disabled value="<%=user.nombre_usuario%>"<%_}_%>
            >

            <p>Email</p>
           
            <input disabled type="email" name="emailRegister" id="emailRegister" <%_ if(typeof data != "undefined"){ _%>value="<%=data.email%>"<%_ }else{_%> value="<%=user.email_usuario%>"<%_}_%>
            >
           
            <p>Telefono</p>

            <input type="tel" name="telefono" <%_ if(typeof data != "undefined"){ _%>value="<%=data.telefono%>"<%_ }else{_%>disabled value="<%=user.telefono_usuario%>"<%_}_%>
            >

            <p>DNI</p>

            <input type="number" name="dni"<%_ if(typeof data != "undefined"){ _%>value="<%=data.dni%>"<%_ }else{_%> disabled value="<%=user.dni%>"<%_}_%>>

            <p>Calle</p>
            
            <input type="text" name="calle" <%_ if(typeof data != "undefined"){ _%>value="<%=data.calle%>"<%_ }else{_%>disabled value="<%=user.calle%>"<%_}_%>>

            <p>Altura</p>

            <input type="text" name="altura" <%_ if(typeof data != "undefined"){ _%>value="<%=data.altura%>"<%_ }else{_%>disabled value="<%=user.altura%>"<%_}_%>>

            <p>Piso</p>

            <input type="text" name="piso" <%_ if(typeof data != "undefined"){ _%>value="<%=data.piso%>"<%_ }else{_%>disabled value="<%=user.piso%>"<%_}_%>>
            
            <p>Departamento</p>

            <input type="text" name="departamento" <%_ if(typeof data != "undefined"){ _%>value="<%=data.departamento%>"<%_ }else{_%>disabled value="<%=user.departamento%>"<%_}_%>>

            <p>Barrio</p>

            <input type="text" name="barrio" <%_ if(typeof data != "undefined"){ _%>value="<%=data.barrio%>"<%_ }else{_%>disabled value="<%=user.barrio%>"<%_}_%>>

            <p>Localidad</p>

            <input type="text" name="localidad" <%_ if(typeof data != "undefined"){ _%>value="<%=data.localidad%>"<%_ }else{_%>disabled value="<%=user.localidad%>"<%_}_%>>

            <p>Provincia</p>

            <input type="text" name="provincia" <%_ if(typeof data != "undefined"){ _%>value="<%=data.provincia%>"<%_ }else{_%>disabled value="<%=user.provincia%>"<%_}_%>>

            <p>Pais</p>

            <input type="text" name="pais"<%_ if(typeof data != "undefined"){ _%>value="<%=data.pais%>"<%_ }else{_%>disabled value="<%=user.pais%>"<%_}_%>>

            <p>Avatar</p>

            <input disabled type="file" name="avatar" <%_ if(typeof data == "undefined"){ _%> disabled <%_ }_%>>
            <div id="imagenesCargadas">
                <img src="/images/userAvatar/<%_if(typeof data != "undefined"){_%><%=data.avatar%><%_}else{_%><%=user.avatar%><%_}_%>">
            </div> 

            <button id="submitButton" class="claseButton" type="submit">Guardar Cambios</button>
           

        </form>

        <button id="editButton" class="claseButton" >Editar mi perfil</button>

        
    </div>

    <script src="/js/userViewEdit.js"></script>
    
    <%- include('../partials/footer.ejs'); %>
